@font-face {
    font-family: 'Ablation';
    src: url('/media/fonts/AblationExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ablation';
    src: url('/media/fonts/AblationBlack.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}